body {
  font-family: Arial;
  margin: 0;
   background-color: #1a191a;
  color: #FCFCFC;
}

/* Container to hold all page contents */
.page-content {
  display: flex;
  width:100%;
  border: none;
  padding: 15px;
  margin:5px;
  
  
}
/* Container flex boxes for organization within the page */
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
  align-items: center;
  align-content: center;
  margin: 15px;
  
}

/* flexible boxes to be placed inside a flexible container to adjust with screen and window dimensions*/
.flexbox-item {
   display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 15px;
  max-width: 750px;
 
   
  /*  !!!! Added flex, justify content, and align items to the flexbox and flexbox items*/
}
/* flexible boxes to be placed inside a flexible container to adjust with screen and window dimensions*/
.flexbox-item-1 {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 2;
  min-height: 200px; 
  min-width:200px;
 
  
}

/* flexible boxes to be placed inside a flexible container to adjust with screen and window dimensions*/
.flexbox-item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  max-height: 200px; 
  min-width:250px;
  min-height: 250px;
  padding-top: 100px;
}

* {
  box-sizing: border-box;
}

.image1 {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}

.mySlides1 {
  display: none;
  }

.mySlides2 {
  display: none;
  }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
 /* -webkit-user-select: none;*/
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(000, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #003399;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*------------------------Nav Bar Starts here-------------------*/
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #336699;
  font-family: Arial;
  width: 100%; 
  display: flex;
  position: fixed;
 
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /*z-index: 5;
  display: flex;*/
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
 /* z-index: 5;*/
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
 /* z-index: 5;*/
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

  /* Add a darker blue background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #225588;
}
  /* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #336699;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  /*z-index: 5;*/
}
  .dropdown-content a:hover {
  background-color: #225588;
}
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
  
  /*------------------------Nav Bar Ends here-------------------*/


h1 {
  text-align: center;

}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

table, th { border: none;
  padding: none;   
}

p {
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.image2 {
  width: 100%;
    height: auto;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  background: #1a191a;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0, .2);
  box-sizing: border-box;
}
.gallery-container {
  column-count: 4;
  max-width: 1500px;
  margin: 0 auto;
  background: #336699;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .25);
}

@media screen and (max-width: 1024px) {
  .gallery-container{
    column-count: 3;
  }
}

@media screen and (max-width: 640px) {
   .gallery-container{
    column-count: 2;
  }
}

@media screen and (max-width: 375px) {
  .gallery-container{
    column-count: 1;
  }
}
