body {
  background-color: #1a191a; 
  color: #FCFCFC;
}
header {
  display: flex;
}

/* Container to hold all page contents */
.page-content {
  width:100%;
  border: none;
  padding: 15px;
  margin:5px;
  
  a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #ff3300;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
}
/* Container flex boxes for organization within the page */
.flexbox-container {
   display: flex;
  flex-wrap: wrap;
 justify-content: center;
  align-items: center;
  align-content: center;
  margin: 15px;
  
}
/* flexible boxes to be placed inside a flexible container to adjust with screen and window dimensions*/
.flexbox-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
 /* margin: 15px;*/
  max-width: 750px;*/
  
  
}
/* flexible boxes to be placed inside a flexible container to adjust with screen and window dimensions*/
.flexbox-item-1 {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  min-width:250px;
  min-height: 250px;
  padding-top: 50px;
}

/* flexible boxes to be placed inside a flexible container to adjust with screen and window dimensions*/
.flexbox-item-2 {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 2;
  min-height: 200px; 
  min-width:200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding 0;
  background-color:#336699;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}

li a {
  display: block;
  padding: 14px;
  color: white;
  Text-align: center;
  text-decoration: none;
}

/*The immediate LI a line is intended to change the color of the nav bar when hovered over*/
li a:hover {
  background-color: #225588;
}

h1 {
  text-align: center;

}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
/*------------------------Nav Bar Starts here-------------------*/
.topnav {
  background-color: #2f4452;
  overflow: hidden;
  /*position: sticky;*/
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
 
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #fcfcfc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #c75f04;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1e2e38;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
  
  /*------------------------Nav Bar Ends here-------------------*/

/* table, th, td {
   border: 1px solid white;
   width: 50%; */
}

p {
  text-align: center;
  margin-right: 25px;
  margin-left: 25px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
